/* inicio.module.css */
.containerFluid {
   background: linear-gradient(90deg, rgba(178,211,245,1) 0%, rgba(107,159,223,1) 54%, rgba(151,200,219,1) 100%);
   color: rgb(28, 28, 28);
}

.title {
   font-weight: bold;
}

.subtitle {
   font-weight: 400;
}

.logo {
   height: 300px;
}