.logoNav{
    height: 50px;
    margin-right: 10px;
}

.logoPsico{
    height: 150px;
}

.fondo{
    background-color: rgb(228, 228, 227);
    min-height: 100vh;
    min-width: 100vw;
}

.myCard{
    background-color: #e6e8fe;
    width: 90%;
    margin: auto;
}

.imagenPago{
    height: 150px;
}